* {
  margin: 0;
  padding: 0;
}

.app-container {
  background-color: burlywood;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-wrapper {
  background-color: brown;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 10px;
}

.header h1 {
  color: #000;
  text-align: center;
  margin: 0px 0px 26px 0px;
  font-family: initial;
}

.form-input-todo {
  width: 300px;
  padding: 5px 5px;
  margin-right: 15px;
  font-size: 20px;
  color: blue;
  background-color: aquamarine;
  border: 1px solid #000;
  border-radius: 4px;
}

.button-add {
  width: 70px;
  padding: 5px 15px ;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid #000;
  background-color: beige;
  cursor: pointer;
}
.todo-list{
  font-size: 15px;
  display: flex;
  margin: 20px 0;
  border-radius: 4px;
  border: 1px solid #000;
  padding: 10px;
}

.button-completed, .button-edit, .button-delete{
  border: none;
  background-color: transparent;
  font-size: 25px;
  border-radius: 50%;
}
.button-completed{
  color: aqua;
  margin-right: 10px;
}
.button-edit{
  color: rgb(29, 16, 105);
  margin-right: 10px;
}
.button-delete{
  color: rgb(255, 255, 0);
}
.complete{
  text-decoration-style:solid ;
  text-decoration-line:line-through ;
  text-decoration-color: rgb(255, 0, 0) ;
}
.list{
  
}

