*{
  margin: 0;
  padding: 0;
}
.app-container{
  background-color: burlywood;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-wrapper{
  background-color: brown;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px; 
  box-shadow: 5px 5px 20px #000;
  margin-bottom: 10px;
}
.header h1{
  color: #000;
  text-align: center;
  margin: 0px 0px 26px 0px;
  font-family: initial;
}